/*

Colors

*/
/*

Mixins

*/
/*

Placeholders

*/
/* line 47, ../../sass/modules/_variables.scss */
html {
  font-family: "Noto Sans", sans-serif !important;
}

/* line 52, ../../sass/modules/_variables.scss */
.recommended-article .card-recommended .sr-number, .recommended-article .card-recommended h6 span {
  font-weight: 700;
}

/* line 56, ../../sass/modules/_variables.scss */
h1.heading {
  text-transform: uppercase;
}

/* line 60, ../../sass/modules/_variables.scss */
.recommended-article .card-recommended .sr-number, .recommended-article .card-recommended h6, .recommended-article .card-recommended iron-icon {
  float: left;
}

/* line 62, ../../sass/modules/_variables.scss */
.clear, to-collection, hr, h1.heading, .recommended-article {
  float: left;
  width: 100%;
}

/* line 64, ../../sass/modules/_variables.scss */
h1.heading, .recommended-article .card-recommended .sr-number {
  text-align: center;
}

/* line 68, ../../sass/modules/_variables.scss */
.wrapper, .wrapper700 {
  overflow: hidden;
}

/* line 76, ../../sass/modules/_variables.scss */
.wrapper, .wrapper700 {
  overflow: hidden;
}

/* line 78, ../../sass/modules/_variables.scss */
.wrapper, .recommended-article {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../../sass/modules/_reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 87, ../../sass/modules/_reset.scss */
body {
  line-height: 1;
}

/* line 91, ../../sass/modules/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 105, ../../sass/modules/_reset.scss */
nav ul {
  list-style: none;
}

/* line 109, ../../sass/modules/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 114, ../../sass/modules/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 122, ../../sass/modules/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 131, ../../sass/modules/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 138, ../../sass/modules/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 145, ../../sass/modules/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 149, ../../sass/modules/_reset.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 155, ../../sass/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 161, ../../sass/modules/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 170, ../../sass/modules/_reset.scss */
input,
select {
  vertical-align: middle;
}

/* line 175, ../../sass/modules/_reset.scss */
html {
  font-size: 16px;
  color: #454545;
  font-family: "Noto Sans", sans-serif !important;
}

/* line 182, ../../sass/modules/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 187, ../../sass/modules/_reset.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 190, ../../sass/modules/_reset.scss */
  html {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 200px) and (max-width: 640px) {
  /* line 196, ../../sass/modules/_reset.scss */
  html {
    font-size: 13px !important;
  }
}
/* line 203, ../../sass/modules/_reset.scss */
.clear {
  clear: both;
}

/* line 207, ../../sass/modules/_reset.scss */
body {
  margin: 0px !important;
  padding: 0px;
  font-family: "Noto Sans", sans-serif !important;
}

/* line 5, ../../sass/modules/_all.scss */
.wrapper {
  max-width: 1020px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

/* line 14, ../../sass/modules/_all.scss */
.wrapper700 {
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

/* line 2, ../../sass/partials/chapters-card.scss */
hr {
  color: #d4d4d4;
}

/* line 7, ../../sass/partials/chapters-card.scss */
h1.heading {
  font-size: 1.625rem;
  color: #808080;
  letter-spacing: 5px;
  margin-bottom: 1.6rem;
  padding: 1rem 0 1.5rem 0;
}

/* line 18, ../../sass/partials/chapters-card.scss */
.recommended-article {
  margin-bottom: 2.8125rem;
  padding: 0px 1.62rem;
}
/* line 23, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended {
  width: 24.125rem;
  background-color: #fff;
  padding: 2rem;
}
/* line 27, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended .sr-number {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #e7e7e7;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #454545;
}
/* line 39, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended > div {
  width: 100%;
  margin-bottom: 1.37rem;
}
/* line 43, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended h6 {
  font-size: .75rem;
}
/* line 46, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended h6 span {
  font-size: 1rem;
}
/* line 51, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended iron-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
/* line 57, ../../sass/partials/chapters-card.scss */
.recommended-article .card-recommended p {
  color: #808080;
  margin: 0px;
  line-height: 2rem;
  font-size: 1rem;
  text-align: left;
}

/*# sourceMappingURL=chapters-card.css.map */
