/*

Colors

*/
/*

Mixins

*/
/*

Placeholders

*/
/* line 47, ../../sass/modules/_variables.scss */
html {
  font-family: "Noto Sans", sans-serif !important;
}

/* line 54, ../../sass/modules/_variables.scss */
.recommended-article .card-recommended .card-right h1.article-heading > span, .recommended-article .card-recommended .card-right p {
  font-weight: 400;
}

/* line 56, ../../sass/modules/_variables.scss */
h1.heading {
  text-transform: uppercase;
}

/* line 60, ../../sass/modules/_variables.scss */
.recommended-article .card-recommended .card-left {
  float: left;
}

/* line 62, ../../sass/modules/_variables.scss */
.clear, to-collection, h1.heading, .recommended-article, .recommended-article .card-recommended .card-right h1.article-heading > span, .recommended-article .card-recommended .card-right p {
  float: left;
  width: 100%;
}

/* line 64, ../../sass/modules/_variables.scss */
h1.heading {
  text-align: center;
}

/* line 66, ../../sass/modules/_variables.scss */
.recommended-article .card-recommended .card-right, .recommended-article .card-recommended .card-right .right {
  float: right;
}

/* line 68, ../../sass/modules/_variables.scss */
.wrapper, .wrapper700, .recommended-article .card-recommended .card-left, .recommended-article .card-recommended .card-right {
  overflow: hidden;
}

/* line 76, ../../sass/modules/_variables.scss */
.wrapper, .wrapper700, .recommended-article .card-recommended .card-left, .recommended-article .card-recommended .card-right {
  overflow: hidden;
}

/* line 78, ../../sass/modules/_variables.scss */
.wrapper, .recommended-article .card-recommended .card-left, .recommended-article .card-recommended .card-right, .recommended-article .card-recommended .card-right p {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../../sass/modules/_reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 87, ../../sass/modules/_reset.scss */
body {
  line-height: 1;
}

/* line 91, ../../sass/modules/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 105, ../../sass/modules/_reset.scss */
nav ul {
  list-style: none;
}

/* line 109, ../../sass/modules/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 114, ../../sass/modules/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 122, ../../sass/modules/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 131, ../../sass/modules/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 138, ../../sass/modules/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 145, ../../sass/modules/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 149, ../../sass/modules/_reset.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 155, ../../sass/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 161, ../../sass/modules/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 170, ../../sass/modules/_reset.scss */
input,
select {
  vertical-align: middle;
}

/* line 175, ../../sass/modules/_reset.scss */
html {
  font-size: 16px;
  color: #454545;
  font-family: "Noto Sans", sans-serif !important;
}

/* line 182, ../../sass/modules/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 187, ../../sass/modules/_reset.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  /* line 190, ../../sass/modules/_reset.scss */
  html {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 200px) and (max-width: 640px) {
  /* line 196, ../../sass/modules/_reset.scss */
  html {
    font-size: 13px !important;
  }
}
/* line 203, ../../sass/modules/_reset.scss */
.clear {
  clear: both;
}

/* line 207, ../../sass/modules/_reset.scss */
body {
  margin: 0px !important;
  padding: 0px;
  font-family: "Noto Sans", sans-serif !important;
}

/* line 5, ../../sass/modules/_all.scss */
.wrapper {
  max-width: 1020px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

/* line 14, ../../sass/modules/_all.scss */
.wrapper700 {
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

/* line 5, ../../sass/partials/shachi-recommended.scss */
h1.heading {
  font-size: 1.625rem;
  color: #808080;
  letter-spacing: 5px;
  margin-bottom: 1.6rem;
}

/* line 16, ../../sass/partials/shachi-recommended.scss */
.recommended-article {
  margin-bottom: 2.8125rem;
}
/* line 18, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended {
  width: 476px;
  height: 222px;
  background-color: #d4d4d4;
}
/* line 20, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended .card-left {
  -webkit-transform-origin: 0px 0px 0px;
  width: 45%;
  height: 222px;
}
/* line 31, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended .card-right {
  padding: 1rem;
  -webkit-transform-origin: 0px 0px 0px;
  background: #fefefe;
  width: 55%;
  height: 222px;
}
/* line 41, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended .card-right h1.article-heading {
  font-size: 1rem;
  color: #454545;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}
/* line 42, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended .card-right h1.article-heading > span {
  margin-top: 8px;
  font-size: .87rem;
  color: #808080;
  font-style: italic;
}
/* line 52, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended .card-right p {
  font-size: .87rem;
  color: #808080;
  line-height: 21px;
  margin: 16px 0px;
}
/* line 64, ../../sass/partials/shachi-recommended.scss */
.recommended-article .card-recommended .card-right .right {
  margin-top: 2px;
  width: 30px;
  height: 30px;
  color: #a2a2a2;
}

/*# sourceMappingURL=shachi-recommended.css.map */
